html, body {
    background-color: white;
}

svg path{
    stroke:#EEE;
    stroke-width: 3px;
}

svg path:hover{
    fill: #FCF55F;
    cursor: pointer;
}

.container{
    width: 100%;
}

.filter{
    border: #00394f 1px solid;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.filter-title{
    font-weight: bolder;
    text-align: center;
}

.display{
    border: #00394f 1px solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-right: -20px;
    margin-left: -20px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.filter-value{
    display:flex;
    align-content: center;
    text-align: left;
    width:100%;
    display: block;
}

.stat-rect{
    height:40px;
    width: 200px;
    background-image: linear-gradient(to left,#DE3163, #6495ED);
    margin-bottom: 10px;
    display:flex;
}

.min-value{
    margin-top: 8px;
    margin-left: 10px;
    color: white;
    font-weight: bolder;
}

.max-value{
    margin-top: 8px;
    margin-left: auto;
    margin-right: 10px;
    color:white;
    font-weight: bolder;
}

.btn{
    background-color: #00394f !important;
    border-color: #00394f !important;
    color: white !important;
}